/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
.all-footer {
}
.container {
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  flex-direction: column;
}
.footer-logog-and-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 60px;
}
.footer-menu {
}
.footer-menu-list {
  display: flex;
  gap: 20px;
}
.footer-menu-item {
}
.footer-menu-link {
  font-family: var(--page-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-text {
  font-family: var(--page-font);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--color-white);
}
.footer-social-menu-list {
  display: flex;
  gap: 20px;
}
.footer-social-menu-item {
}
.social-network-link {
}
.footer-icon {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  width: 44px;
  height: 44px;
}
.accent-color-footer-text {
  color: var(--accent-color-text);
  font-family: var(--page-font);
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  letter-spacing: -0.03em;
}
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/*
|====================================================|
|============|MOBILE STYLES/HEADER|==============|
|====================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|========================================================|
|============|OFF/MOBILE STYLES/HEADER|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/HEADER|==============|
|====================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|========================================================|
|============|OFF/TABLET STYLES/HEADER|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/HEADER|==============|
|==========================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/HEADER|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/HEADER|==============|
|==========================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/HEADER|===========|
|===========================================================|
*/
