/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/* .section-advantages {
  font-family: Inter;
  font-style: normal;
  color: var(--accent-color-text);
}


.advantages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages-list {
  display: flex;
  background: var(--color-sec-bg);
  flex-direction: column;
  gap: 40px;
  padding: 80px 20px;
  border-radius: 24px;
}


.adantages-list-number {
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
}

.adantages-list-number::after {
  display: block;
  content: '';
  height: 2px;
  flex-shrink: 0;
  border-radius: 18px;
  background: rgba(251, 251, 251, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 18px;
  margin-bottom: 18px;
}

.advantages-list-text {
  color: #fbfbfb;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.02em;
  opacity: 0.8;
}

.advantages-img {
  border-radius: 25px;
} */

/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
/*
|====================================================|
|============|MOBILE STYLES/advantages|==============|
|====================================================|
*/
/* ПРОПИСАВ CONTAINER */

@media screen and (max-width: 767px) {
}

/*
|========================================================|
|============|OFF/MOBILE STYLES/advantages|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/advantages|==============|
|====================================================|
*/
/* @media screen and (min-width: 768px) {
  .adantages-list-number {
    font-size: 32px;
  }

  .advantages-list-text {
    font-size: 13px;
  }

  .container {
    max-width: 767px;
    padding: 0 32px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 34px;
    justify-content: space-between;
    padding: 90px 32px;
  }

  .advantages-list-item {
    max-width: 300px;
    width: 100%;
  }

  .advantages-wrapper {
    gap: 32px;
  }
} */

/*
|========================================================|
|============|OFF/TABLET STYLES/advantages|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/advantages|==============|
|==========================================================|
*/
/* використовуй для HEADER/HERO для підключення 1x */
/* .section-advantages {
  background-size: cover;
  background-repeat: no-repeat;
} */
/* підключення 2x */
/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero-servise {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../src/img/mobile/advantages@2x.jpg');
  } */
/* 
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 50px;
  }

  .advantages-wrapper {
    flex-direction: row;
  }
  .advantages-list {
    gap: 44px 44px;
    padding: 90px 50px;
    margin-bottom: 0;
  }

  .adantages-list-number::after {
    width: 100%;
  }

  .advantages-list-item {
    max-width: 280px;
  }

  .advantages-box {
    display: flex;
    gap: 32px;
  }
} */

/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/advantages|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/advantages|==============|
|==========================================================|
*/
/* @media screen and (min-width: 1440px) {

  
  .advantages-list-item {
    max-width: 318px;
  }

  .advantages-list {
    gap: 44px 32px;
  }

  .advantages-box.container {
    padding: 0px 50px;
    max-width: 1440px;
  }

} */

/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/advantages|===========|
|===========================================================|
*/
/* !========================================================= */
/*
|=============================================|
|=====|ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/
/* !враховуючи, що у Figma неможливо продивитись точні значення - 
/* !беру за приклад значення із basic_standart:
/* ?-mobile: 360 px разрешение/(340px) контейнер */
/* ?-mobile: 480 px разрешение/(460px) контейнер */
/* ?-tablet: 768 px разрешение/(640px) контейнер */
/* ?-tablet: 1000 px разрешение/(960 px) контейнер */
/* ?-desktop: */
.all-header {
}
/* !чи потрібно container винести в common style? */
/* !стандартні значення(окрім max-widht) */
.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}
.logo {
}
.logo-img {
}
.page-navigation {
}
.header-menu-list {
  display: flex;
  gap: 20px;
}
.header-menu-item {
}
.header-menu-link {
}
.header-tel {
}
.header-tel-link {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 28px;
  width: 193px;
  height: 48px;
  font-family: var(--page-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-white);
}
.header-social-menu-list {
  display: flex;
  gap: 10px;
}
.header-social-menu-item {
}
.social-network-link {
}
.header-icon {
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  width: 44px;
  height: 44px;
}
.header-mob-menu-btn-burger {
}
.header-mob-menu-burger-icon {
}
/* ?================hover/focus================ */
.header-menu-link:focus,
.header-menu-link:hover {
  color: var(--accent-color-text);
}
.header-tel-link:focus,
.header-tel-link:hover {
  border-color: var(--accent-color-text);
}
.header-icon:focus,
.header-icon:hover {
  border-color: var(--accent-color-text);
}
/* ?=========================================== */
/*
|=============================================|
|=====|OFF/ЗАГАЛЬНІ СТИЛІ/COMMON STYLES|======|
|=============================================|
*/

/*
|====================================================|
|============|MOBILE STYLES/HEADER|==============|
|====================================================|
*/
/* !звернути увагу на дуже цікаву оптимізовану реалізацію */
@media screen and (max-width: 320px), (min-width: 320px), (min-width: 375px) {
  /* ?==============точка перелому==================== */
  /* ?================================================ */
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .header-mobile-background {
      background-image: url("../");
    }
  }
}
/*?=========================max-width: 320px=========================*/
@media screen and (max-width: 320px) {
}
/*?=========================max-width: 320px=========================*/

/*?=========================min-width: 375px=========================*/
@media screen and (min-width: 375px) {
}
/*?=======================min-width: 375px END=======================*/
/*
|========================================================|
|============|OFF/MOBILE STYLES/HEADER|==============|
|========================================================|
*/

/*
|====================================================|
|============|TABLET STYLES/HEADER|==============|
|====================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*?=========================min-width: 768px=========================*/
@media screen and (min-width: 768px) {
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .header-mobile-background {
      background-image: url("../");
    }
  }
}
/*?=======================min-width: 768px END=======================*/
/*
|========================================================|
|============|OFF/TABLET STYLES/HEADER|==============|
|========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1280 STYLES/HEADER|==============|
|==========================================================|
*/
/* ?==============точка перелому==================== */
/* ?================================================ */
/*?=========================min-width: 1280px=========================*/
@media screen and (min-width: 1280px) {
}
/*?=======================min-width: 1280px END=======================*/
/*
|===========================================================|
|============|OFF/DESKTOP_1280 STYLES/HEADER|===========|
|===========================================================|
*/

/*
|==========================================================|
|============|DESKTOP_1440 STYLES/HEADER|==============|
|==========================================================|
*/
@media screen and (min-width: 1440px) {
}
/* ?==============точка перелому==================== */
/* ?================================================ */
/*
|===========================================================|
|============|OFF/DESKTOP_1440 STYLES/HEADER|===========|
|===========================================================|
*/
